.video-play-button {
    display: block;
    width: 104px;
    height: 104px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -52px 0 0 -52px;
    cursor: pointer;
}

.video-play-outline {
    display: block;
    width: 96px;
    height: 96px;
    border: #FFF 4px solid;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: .7;
    transition: all .5s;
}

.video-play-circle {
    stroke-dasharray: 315;
    stroke-dashoffset: 315;
    transition: stroke-dashoffset .5s;
}

.video-play-button svg {
    display: block;
    transform: rotate(-90deg);
    transition: transform .3s;
}

.video-play-button:hover .video-play-circle {
    stroke-dashoffset: 0;
}

.video-play-button:active .video-play-outline {
    transform: scale(1.5);
    opacity: 0;
}

.video-play-button:active svg {
    transform: rotate(-90deg) scale(.95);
}

ul.header-nav li a {
    background: #ffffff99;
    backdrop-filter: blur(14px);
    transition: all 0.3s;
}
ul.header-nav li a:hover {
    background: #ffffffcc;
}

ul.header-nav li a.username_reported {
    background: #ffffff61;
    backdrop-filter: blur(14px);
}

ul.header-nav li a.username_reported i {
    color: red;
}

.min-vh-60 {
    min-height: 60vh;
}
