/**
* Parental control
*/

:root {
    --parental-control: 15px;
}

img {
    filter: blur(var(--parental-control));
}
.iq-navbar-logo img,
.me-2,
.me-3,
.img-fluid.rounded {
    filter: none;
}

video {
    filter: blur(var(--parental-control));
}

/**
* Parental control
*/